__pycache__

theory/The_Mathematical_Theory_of_Embodied_Ai.aux
theory/The_Mathematical_Theory_of_Embodied_Ai.fdb_latexmk
theory/The_Mathematical_Theory_of_Embodied_Ai.fls
theory/The_Mathematical_Theory_of_Embodied_Ai.log
theory/The_Mathematical_Theory_of_Embodied_Ai.out
theory/The_Mathematical_Theory_of_Embodied_Ai.synctex.gz


